.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-toolbar{
    display: flex;
    justify-content: space-between;
}
.nav-options{
    display: flex;
    justify-content: space-evenly;
}
.nav-button{
    display: none;
}

.logo img{
    width: 140px;
}
.admin{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(4, 0, 78) 0%, rgb(9, 9, 121) 25%, #a4008bfa 100%);
}
@media only screen and (max-width:720px){
    .nav-button{
        display: block;
    }
    .nav-options{
        display: none;
    }
}